<div class="vkyc-class">
    <p class="sub1-500 color-1">Video Verification</p>
    <div class="spc-24">
        <!-- <img src="../../assets/vkyc.png" alt="Video" width="728px" height="722px"> -->
    </div>
    <div style="width: 728px;text-align: center;">
        <img src="../../assets/call.svg" alt="Call" style="cursor: pointer;" (click)="gotoCall()">
        <span style="padding-left: 50%;position: absolute;">
            <button mat-stroked-button class="sub2-400" color="accent">Reschedule video KYC</button></span>
        <!-- <mat-form-field class="example-full-width">
            <mat-label>Choose a date</mat-label>
            <input type="hidden" matInput [matDatepicker]="picker">
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>(click)="picker.open()" -->

    </div>
</div>