<div class="container-fluid" *ngIf="showThank">
    <div align="center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
            <div class="pt-5">
                <div class="p-5 ">
                    <div class="text-center mb-2">
                        <img src="../../../assets/calender.svg" alt="" id="img" style="cursor: pointer;" height="130px">
                    </div>
                    <p class="bold fs-3 body1-500 mb-2">Thank you for scheduling a video KYC call.</p>
                    <p class="mb-4 text-center body2-400" style="color: #979797;">here is your application reference
                        number
                        <u style="color:rgb(174,40,93)">Be91727201h17262</u>.
                    </p>
                    <p class="text-center body1-400">Your scheduled date and Time is</p>
                    <div class="border text-center m-5" class="t-style">
                        <div class="col-2 mt-2 calendericon d-icon">
                            <mat-icon color='accent'><span class="material-icons"> calendar_today </span></mat-icon>
                        </div>
                        <div class="mt-2">
                            <div class="text-center body1-400">{{day}} th November,2023 </div>
                            <div class="text-center body1-400"> {{time}} pm</div>
                        </div>
                    </div>
                    <div class="text-center m-5">
                        <button type="button" mat-flat-button color="accent" class="btn px-5 body2-500 mt-3"
                            data-bs-dismiss="modal" (click)="takeNow()"> Go Back </button> &nbsp;&nbsp;&nbsp;
                        <button type="button" mat-flat-button color="accent" class="btn px-5 body2-500 mt-3"
                            data-bs-toggle="modal" data-bs-target="#myModal"> Finish </button>
                    </div>
                    <p class="text-center mt-5 body2-400" style="color:#979797;">
                        By clicking finish you will receive a video KYC link.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="!showThank">
    <div align="center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
            <div class="pt-5">
                <div class="p-5 ">
                    <div class="text-center mb-5">
                        <img src="../../../assets/videokycdone.svg" alt="" id="img" style="cursor: pointer;"
                            height="130px">
                    </div>
                    <div class="mb-4">
                        <p class="sub1-500">Thank you for completing your KYC steps.</p>
                    </div>
                    <div class="mb-4">
                        <p class="body1-400">here is your application reference number <u
                                style="color: #97144D;">Be91727201h17262</u>.</p>
                    </div>
                    <div class="mb-4">
                        <p class="text-center body2-400 spc-0" style="color:#979797;">Your application is under review &
                            will be
                            reviewed shortly, We will notify. </p>
                        <p class="text-center body2-400" style="color:#979797">you on your registerd mobile number.</p>
                    </div>
                    <div class="text-center m-5">
                        <button type="button" mat-flat-button color="accent" class="btn px-5 body2-500"
                            data-bs-toggle="modal" data-bs-target="#myModal"> Finish </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg model-position">
        <div class="modal-content p-3">
            <div class="modal-header">
                <p class="h4-500 col-11 spc-24" style="color: #97144D;">Feel free to drop us a feedback</p>
                <mat-icon class="close-icon icon-40" color='accent' data-bs-dismiss="modal">close</mat-icon>
            </div>
            <div class="modal-body" style="padding: 16px 60px;">
                <p class="body1-400">Your feedback will help us serve you better.</p>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <ul class="rating-list" *ngFor="let star of stars; let i= index" style="display: inline-block">
                            <li (click)="countStar(star)" id="{{'starId'+i}}"
                                [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
                                (mouseout)="removeClass(star)"> <mat-icon class="icon-65">star_rate</mat-icon>
                            </li>
                        </ul>
                    </div>
                </div>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Write your Feedback here...</mat-label>
                    <textarea matInput rows="5" cols="40"></textarea>
                </mat-form-field>
                <div class="container-fluid">
                    <div class="row p-3">
                        <div align="start" class="col">
                            <button mat-button color="accent" class="btn px-3 body2-400" data-bs-toggle="modal"
                                data-bs-target="#myModal2" (click)="noRating()">
                                cancel</button>
                        </div>
                        <div align="end" class="col">
                            <button type="button" mat-flat-button color="accent" class="btn px-3 body2-500"
                                data-bs-toggle="modal" data-bs-target="#myModal2" (click)="submitRating()"> Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal2" style="text-align: center;">
    <div class="modal-dialog model-position2">
        <div class="modal-content p-3 m-2">
            <div class="modal-body">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="row">
                        <p class="h4-500 col-11 spc-24" style="color: #97144D;margin-top: 48px;padding-left: 40px;">
                            {{ratingMsg}}</p>
                        <div class="text-center" style="margin: 3rem 3rem 3rem 0">
                            <button type="button" mat-flat-button color="accent" class="btn px-5 body2-500"
                                data-bs-dismiss="modal" (click)="gotoHome()"> Finish </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>