.chatbot-icon {
    position: fixed;
    width: 80px;
    height: 80px;
    right: 2%;
    z-index: 999;
    bottom: 9%;
    box-shadow: inset 0px 0px 0px 30px rgb(250, 243, 246);
    cursor: pointer;
}