<div>
  <mat-toolbar class="primary-header mat-elevation-z4" style="background: #ae285d;">
    <div class="row">
      <div class="column">
        <img src="../../../assets/vkr.svg" alt="" id="img" style="cursor: pointer;" height="64px">
      </div>
    </div>
  </mat-toolbar>
  <div  align=center>
    <router-outlet></router-outlet>

  </div>
</div>
<img src="../assets/axisAha.svg" alt="chatIcon" class="chatbot-icon" (click)="openChatbot()">

<!-- responsive design screens not yet designed screen list -->
<!-- 1.Additional Features (Design is pending from UX designer) -->
<!-- 2.video verification -->
<!-- 3.Schedue a call later (In xs resoultion time slot is not coming properly) -->